@import url('https://fonts.googleapis.com/css2?family=Rampart+One&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


.page-turn {
	animation: turn 3s forwards;
}

@keyframes turn {
	0% {
        transform: rotateY(270deg);
		transform-origin: bottom right;
	}
	100% {
		transform: rotateY(360deg);
	}
}

.box {
    --mask:
    radial-gradient(48.02px at 50% calc(100% - 67.50px),#000 99%,#0000 101%) calc(50% - 60px) 0/120px 100%,
    radial-gradient(48.02px at 50% calc(100% + 37.50px),#0000 99%,#000 101%) 50% calc(100% - 30px)/120px 100% repeat-x;
    -webkit-mask: var(--mask);
    mask: var(--mask);
}

body {
    background-color: #fef3c7;
}